body, div, img {
    margin: 0;
    padding: 0;
}

#box {
    margin: 10px auto;
    width: 400px;
    border: 1px dashed #00b3ee;
}

#box div {
    margin: 10px auto;
    width: 300px;
    height: 150px;
    background: url("../img/ddd.jpg") no-repeat;
}

#box div img {
    width: 300px;
    height: 150px;
    border: none;
    opacity: 0;
}